$themeColor1: #10002b;
$themeColor2: #240046;
$themeColor3: #3c096c;
$themeColor4: #5a189a;
$themeColor5: #7b2cbf;
$themeColor6: #9d4edd;
$themeColor7: #c77dff;
$themeColor8: #e0aaff;

$fontColor1: #ffffff;
$fontColor2: #dfdfdf;
$fontColor3: #adadad;

$gridSpacing: 1rem;