$fontSizeM: 14px;

$fontSizeXxxl: $fontSizeM + 10px;
$fontSizeXxl: $fontSizeM + 6px;
$fontSizeXl: $fontSizeM + 4px;
$fontSizeL: $fontSizeM + 2px;
$fontSizeS: $fontSizeM - 1px;
$fontSizeXs: $fontSizeM - 2px;
$fontSizeXxs: $fontSizeM - 3px;
$fontSizeXxxs: $fontSizeM - 4px;

$fontSizeH1: 48px;
$fontSizeH2: 36px;
$fontSizeH3: 28px;